{:lein   {:profile "cljs"}
 :nrepl  {:port 9000}
 :builds {:cards {:target           :browser
                  :output-dir       "resources/public/js/cards"
                  :asset-path       "/js/cards"
                  :compiler-options {:devcards true}
                  :modules          {:main
                                     {:entries [understanding-fulcro.cards]}}
                  :devtools         {:after-load understanding-fulcro.cards/refresh
                                     :preloads   [fulcro.inspect.preload]
                                     :http-root  "resources/public"
                                     :http-port  8023}}}}
